//colors
$white: #fff;
$black: #000;
$light: #fcfcfc;
$dark: #f5f5f5;
$red: #cb0e4e;
$dark-red: #a00c3d;
$text-primary: #707070;
$text-heading: #4e4e4e;
$text-input: #464444;
$border: #dbd6d6de;
$border-secondary: #e2e2e2;
$border-accordion: #e4e4e4;
$border-check: #bce0fd;
$border-account: #d9d9d9;
$text-footer: #a1a1a1;
$cart-bg: #ecebeb;
$footer-bg: #f8f8f8;
$comment-bg: #fafafa;
$primary-bg: #2699fb;
$secondary-bg: #dbd6d6;

//text
$font-family: 'Open Sans', sans-serif;
