@import '../../../../app/styles/variables.scss';

.loader-book-description {
    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        width: 300px;
        height: 400px;
    }

    &__info {
        flex: 0 1 40%;
        max-width: 40%;

        padding: 15px;
    }

    &__info-list {
        margin: 35px 0;
    }

    &__price {
        display: flex;
        align-items: center;
        gap: 16px;
        width: fit-content;

        margin-bottom: 30px;
        padding: 15px 30px;

        border: 1px solid $dark;
        border-radius: 8px;
    }

    &__wrapper-button {
        display: flex;
        gap: 16px;
    }

    &__button {
        height: 40px;
        width: 160px;
    }

    &__wrapper-authors {
        flex: 0 1 25%;
        max-width: 25%;
        width: 100%;

        padding: 15px;
    }

    &__authors {
        width: 100%;
        height: 200px;
    }

    &__desc {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    &__desc-title {
        width: 300px;
        margin-bottom: 20px;
    }
}
