.input {
    width: 100%;
    font-size: 14px;
    padding: 18px 20px;

    background: var(--white);
    color: var(--text-input);

    border: 1px solid var(--border);
    border-radius: 4px;

    &:focus {
        border: 1px solid var(--primary-bg);
    }
}
