.navigation-menu {
    width: 100%;
    background: var(--light);
    position: sticky;
    top: 0;
    z-index: 10;

    &__content-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    &__list {
        display: flex;
        padding: 0;
        gap: 40px;
    }

    &__item {
        margin: 28px 0;
    }

    &__link {
        color: var(--text-primary);
        font-size: 14px;

        padding-bottom: 10px;

        cursor: pointer;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size 0.3s ease-in-out;

        &:hover {
            color: var(--red);
            background-size: 100% 2px;
        }

        &_active {
            color: var(--dark-red);
            background-size: 100% 2px;
        }
    }

    &__buttons-wrapper {
        display: flex;
        gap: 30px;
        opacity: 0;

        transition: opacity 0.3s ease-in-out;
    }

    &__button {
        .icon-button__icon {
            width: 25px;
            height: 25px;
        }
    }

    &_sticky {
        .navigation-menu__buttons-wrapper {
            opacity: 1;
        }
    }
}
