@import '../../../app/styles/variables.scss';

.navigation-menu {
    width: 100%;
    background: $light;

    &__list {
        display: flex;
        padding: 0;
        gap: 40px;
    }

    &__item {
        margin: 28px 0;
    }

    &__link {
        color: $text-primary;
        font-size: 16px;

        padding-bottom: 10px;

        cursor: pointer;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: all 0.3s;

        &:hover {
            color: $red;
            background-size: 100% 2px;
        }

        &:active {
            color: $dark-red;
        }
    }
}
