//colors
$white: #fff;
$black: #000;
$light: #fcfcfc;
$dark: #f5f5f5;
$text-primary: #707070;
$text-heading: #4e4e4e;
$text-input: #b2b2b2;
$border: #f1f1f1;
$border-secondary: #e2e2e2;
$border-accordion: #e4e4e4;
$border-check: #bce0fd;
$border-account: #d9d9d9;
$cart-bg: #f9f9f9;
$footer-bg: #f8f8f8;
$comment-bg: #fafafa;

//text
$font-family: "Open Sans", sans-serif;
