@import "../../styles/variables.scss";

.title {
  &__content {
    font-weight: inherit;
    color: $text-heading;

    margin-bottom: 7px;
  }

  &__line {
    position: relative;
    width: 170px;
    height: 1px;
    background: $secondary-bg;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 1px;
      background: $red;
    }
  }
}
