@import '../../../app/styles/variables.scss';

.price {
    display: flex;
    color: $red;
    font-size: 20px;

    sup {
        margin-top: 5px;
        font-size: 11px;
        vertical-align: super;
    }
}
