@import '../../app/styles/variables.scss';

.header {
    width: 100%;
    height: 54px;
    margin: 40px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
        max-width: max-content;
        margin: 0;
        font-weight: bold;

        color: #2699fb;
    }

    &__search {
        flex: 0 1 50%;
        max-width: 50%;

        padding-right: 15px;
        padding-left: 15px;
    }

    &__buttons-wrapper {
        display: flex;
        align-items: center;
        max-width: max-content;
        height: inherit;

        padding: 0 30px;
        gap: 55px;

        border: 1px solid $border;
        border-radius: 4px;
    }
}
