@import '../../app/styles/variables.scss';

.categories {
    margin-top: 30px;
    margin-bottom: 50px;

    &__title {
        margin-top: 35px;
        margin-bottom: 25px;

        .title__content {
            margin-bottom: 2px;
        }

        .title__line {
            width: 100%;
        }
    }

    &__content-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 8px;
        column-gap: 15px;
    }

    &__content-item {
        min-width: 18%;
        color: $text-primary;

        &:hover {
            color: $primary-bg;
            cursor: pointer;
        }
    }
}
