@import "../../styles/variables.scss";

.search {
  display: flex;

  &__input {
    width: 100%;
    font-size: 14px;
    padding: 18px 20px;

    background: $white;
    color: $text-input;

    border: 1px solid $border;
    border-radius: 4px;
  }
}
