body {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  font-weight: 400;

  display: block;
  max-width: 1950px;
  margin: 0 auto;
}

ol,
ul {
  list-style: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
