@import "../../styles/variables.scss";

.icon-button {
  position: relative;

  &__counter {
    position: absolute;
    top: -5px;
    right: -9px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;

    border-radius: 50%;
    font-size: 9px;

    &_theme_grey {
      background: $cart-bg;
      color: $text-primary;
    }

    &_theme_red {
      background: $red;
      color: $white;
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
  }

  &:hover {
    fill: $primary-bg;
    cursor: pointer;
  }
}
