.loader-book-list {
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 50px;
        column-gap: 10px;

        margin-bottom: 40px;
    }
}
