.home-page {
    &__item {
        padding-right: 8px;
    }

    &__category {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px 0;
    }

    &__slider-item {
        width: 100%;
    }
}
