@import '../../styles/variables.scss';

.book-preview {
    max-width: 240px;
    position: relative;

    &__panel {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: absolute;
    }

    &__button-heart {
        width: 33px;
        height: 33px;
        margin-left: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-color: transparent;
        border-radius: 50%;
        background: $white;
        box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);

        &:hover svg {
            fill: $primary-bg;
            cursor: pointer;
        }
    }

    &__image {
        margin-bottom: 10px;
        height: 290px;
    }

    &__title {
        color: $black;
        font-weight: normal;
        margin-bottom: 2px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__author {
        display: inline-block;
        margin-bottom: 7px;
        width: 100%;
        color: $text-input;
        font-size: 12px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__button-add {
        margin: 0 auto;
    }

    &__overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: all 0.25s ease-in-out;
        background: $white;
    }

    &__price {
        margin-bottom: 10px;
    }

    &:hover {
        .book-preview__overlay {
            height: 170px;
            padding: 10px;
        }
    }
}
