@import "../../styles/variables.scss";

.navigation-menu {
  width: 100%;
  background: $light;

  &__list {
    display: flex;
    padding: 0;
    gap: 40px;
  }

  &__item {
    margin: 20px 0;
    padding: 10px 0;

    color: $text-primary;
    font-size: 16px;

    cursor: pointer;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: all 0.3s;

    &:hover {
      color: $red;
      background-size: 100% 2px;
    }

    &:active {
      color: $dark-red;
    }
  }
}
